* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

#hero {
	width: 100%;
	height: 100vh;
	background: url("../assets/background.jpg") no-repeat center / cover;
}

.containerMain {
	height: 520px;
    width: 400px;
    background-color: rgba(182, 2, 2, 0.24);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(16, 7, 11, 0.616);
    padding: 50px 35px;
}


.info {
	margin-left: auto;
}

.containerMain .info h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
	color: #180e3d;
}

.containerMain .info h2 {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	color: #bfdc36;
}

.containerMain .info p {
	font-size: 1.2rem;
	max-width: 70%;
	color: #ebe8d7;
}

.buttons {
	margin-top: 50px;
}

.button-spacing {
	margin-right: 10px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: black;
	text-align: center;
	font-weight: 400;
}

.button1{

	font-family: Roboto, sans-serif;
	font-weight: 140;
	font-size: 18px;
	color: #180e3d;
	background-color: #bfdc36;
	padding: 15px 30px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	border-radius: 50px;
	transition : 738ms;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: lowercase;
}
	
.button1:hover{
	
transition : 738ms;
padding: 10px 40px;
font-size: 20px;
background-color: #fcf6f6c0;
color: #000000;
border: none;
}

.main{
	margin-bottom: 1rem;
}

